h1, h2, h3{
    text-align: center;
    background-color: chocolate;
    color: bisque;
}
p{
    text-align: justify;
    background-color: blanchedalmond;
    color:blue;
    border-style: solid;
    padding:20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

body
{
    margin: 20px;
    background-image: url('Images/Img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.para{
    text-align: justify;
    background-color:cadetblue;
    color:yellow;
    border-style: solid;
    padding:20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border-color: brown;
}

#heads{
    text-align: center;
    background-color:cornflowerblue;
    color:whitesmoke;
}